@{
    ViewBag.Title = "Home Page";
}

	<div class="jumbotron">
		<div class="text-center">
			<div class="col-md-8 offset-md-2 text-center">
				<h1 class="display-3">Wellcome to our site,</h1>
			</div>
		</div>
		<div class="text-center">
			<div class="col-md-8 offset-md-2 text-center">
				<h2 class=display-5>try to find course that fits you best</h2>
			</div>
		</div>
		<div class="text-center mb-4 mt-4">
			<p>
				<a href="/Course/AvailableCourses" class="btn btn-primary btn-lg">Check our courses</a>
			</p>
		</div>





